*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: 'space-grotesk-700';
    src: local('space-grotesk-700'), url('/fonts/SpaceGrotesk-Bold.woff2');
}

p {
  font-family: 'space-grotesk-700';
}